# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

build
.gradle
.idea/libraries/animated_vector_drawable_25_0_1.xml
.idea/libraries/animated_vector_drawable_25_0_1.xml
.idea/libraries/animated_vector_drawable_25_0_1.xml
.idea/libraries/animated_vector_drawable_25_0_1.xml
.idea/libraries/appcompat_v7_25_0_1.xml
.idea/libraries/cardview_v7_25_0_1.xml
local.properties
.idea/libraries/constraint_layout_1_0_2.xml
.idea/libraries/support_compat_25_0_1.xml
.idea/libraries/support_core_utils_25_0_1.xml
.idea/libraries/support_fragment_25_0_1.xml
.idea/libraries/support_media_compat_25_0_1.xml
.idea/libraries/support_v13_25_0_1.xml
.idea/libraries/support_v4_25_0_1.xml
.idea/libraries/support_vector_drawable_25_0_1.xml
.idea/libraries/virtualjoystick_1_6_0.xml
gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
